/*
Variables
*/

// Fonts
$fontPrimary: 'Source Serif Pro', serif;
$fontSecondary: 'Jost', sans-serif;

// Colors
$colorPrimary: #F07654;
$colorSecondary: #1F1F1F;

$colorWhite: #fff;
$colorBlack: #000;

$colorMeta: #868686;
$colorText: #686868;

$colorTitle: #4C5C7B;

$colorDarkFour: #768197;
$colorDarkFive: #8892A5;

$colorTagsOne: #FF4337;
$colorTagsTwo: #F07654;
$colorTagsThree: #97C94C;
$colorTagsFour: #C41DFF;
$colorTagsFive: #FFAD33;

$colorShade: #FFEFEC;

$box-shadow: 0px 20px 60px rgba(73, 21, 13, 0.1);
